* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

body {
  margin: 0px 5px 0px 5px;
  margin-bottom: 0px;
}

#container {
  margin: 0px 17px 0px 17px;
  padding: 0rem 0.8rem 0rem 0.8rem;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile-header {
  display: none;
}

h1,
p {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

h1 {
  margin-bottom: 0px;
}

.logo {
  height: 1rem;
  margin-bottom: 20px;
  margin: 1rem 0rem 2rem 0rem;
}

/* Navbar */

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 27.25rem;
  height: 5rem;
}

.navbar-item {
  font-weight: 400;
  font-size: 0.9rem;
  color: #000000;
  text-decoration: none;
  padding-top: 20px;
  margin-right: 4rem;
}

.navbar-item:hover {
  color: #0065fc;
  border-top: solid #0065fc 2px;
}

.inscription {
  font-weight: 600;
  color: #0065fc;
  margin-right: 0rem;
}

/* Filter & Search */

#marker {
  font-size: 1rem;
  display: flex;
  width: 3.125rem;
  height: 2.5rem;
  background-color: #f2f2f2;
  border-radius: 0.9rem 0rem 0rem 0.9rem;
  align-items: center;
  justify-content: space-around;
  float: left;
}

.search {
  display: flex;
  margin-bottom: 10px;
}

.search-header h1 {
  font-size: 18px;
}

.search-header p {
  font-size: 15px;
}

.search-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-input {
  background-color: #ffffff;
  width: 14.2rem;
  height: 2.5rem;
  justify-content: space-around;
  border: 0.125rem #f2f2f2 solid;
  font-weight: 700;
  border-right: 0px;
}

#searchicon {
  display: none;
}

.search-button {
  color: #ffffff;
  width: 7.25rem;
  height: 2.5rem;
  background-color: #0065fc;
  border-radius: 0rem 0.9rem 0.9rem 0rem;
  justify-content: space-around;
  cursor: pointer;
  border-width: 0px;
  font-weight: 700;
}

.filterbar {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 20px 0px 10px 0px;
  width: 100%;
  font-weight: 600;
}

.filter-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
  padding-right: 30px;
}

.filter-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
  border: solid #f2f2f2 2px;
  border-radius: 25px;
  margin-right: 20px;
  padding-right: 20px;
  border-left: 0;
}

.filter-item:hover {
  border: solid #0065fc 1px;
  cursor: pointer;
}

.filter-icon {
  display: flex;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  padding: 11px;
  margin-right: 7px;
  font-size: 18px;
}

/* info */

#info {
  display: flex;
  margin: 15px 0px 20px 0px;
  width: 100%;
}

#info p {
  display: flex;
  margin-top: 10px;
}

#info i {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  color: #0065fc;
  background-color: #ffffff;
  border: 2px #f2f2f2 solid;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  margin: 0.3rem;
}

/* Grids */

.grids {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 5fr 2fr;
}

.hebergement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 5rem;
  background-color: #f2f2f2;
  border-radius: 0.9rem;
  padding: 1.5rem 1.5em 0rem 1.5rem;
}

.populaires {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 1fr 1fr;
  background-color: #f2f2f2;
  border-radius: 0.9rem;
  align-items: center;
  justify-items: center;
  padding-bottom: 16px;
}

.left-title {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 20px;
  font-size: 19px;
}

.left-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 20px;
  font-size: 17px;
}

.right-title {
  display: flex;
  font-size: 16px;
  justify-self: start;
  margin: 3rem 0rem 0rem 2rem;
}

/* Boxes */

.boxes {
  width: 88%;
  height: 11rem;
  border: 0.2rem white solid;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  background-color: white;
  box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
  cursor: pointer;
}

.fa-chart-line {
  font-size: 21px;
  margin-left: 4rem;
}

.boxes-right {
  width: 86%;
  height: 8.5rem;
  align-items: center;
  border: 0.2rem #ffffff solid;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
  cursor: pointer;
}

/* Images */

#image1,
#image2,
#image3,
#image4,
#image5,
#image6 {
  width: 100%;
  height: 60%;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  background-size: cover;
  background-position: center;
}

#image7,
#image8,
#image9 {
  width: 50%;
  height: 100%;
  border-radius: 0.9rem 0rem 0rem 0.9rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#image1 {
  background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
#image2 {
  background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
#image3 {
  background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
#image4 {
  background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
#image5 {
  background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
#image6 {
  background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
#image7 {
  background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
#image8 {
  background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  width: 44%;
}
#image9 {
  background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
#image10 {
  background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
#image11 {
  background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
#image12 {
  background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
#image13 {
  background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
#image14 {
  background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
#image15 {
  background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#image10,
#image13 {
  height: 22.4rem;
  width: 100%;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#image11,
#image12 {
  width: 100%;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image11 {
  height: 11rem;
}
#image12 {
  height: 6.5rem;
}

#image14,
#image15 {
  height: 8.1rem;
  width: 100%;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image13 {
  height: 22.7rem;
}
#image14 {
  height: 10.5rem;
}

/* legends */

.legendleft {
  font-size: 9px;
  padding-left: 12px;
}

.legendleft h2 {
  margin: 1px;
}

.legendleft p {
  margin: 2px;
  color: gray;
  font-size: 13px;
}

.stars {
  color: #0065fc;
}

.gray {
  color: lightgray;
}

.legendright {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  font-size: 10px;
}

.legendright h2 {
  margin-bottom: 1px;
}

.legendright p {
  margin-bottom: 1.5rem;
  color: gray;
}

/* activities */

.activities-section {
  margin-top: 3rem;
}

.activities-container {
  height: 26rem;
  display: grid;
  grid-template-columns: 25% 1fr 25% 1fr;
  align-items: end;
  justify-items: center;
  margin-top: 1rem;
}

.act1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.act3 {
  grid-column-start: 2;
  grid-row-end: 3;
}

.act4 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.act1,
.act4 {
  width: 85%;
  height: 25rem;
  border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
  box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.act2,
.act3 {
  width: 85%;
  height: 9rem;
  border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
  box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.act2 {
  align-self: baseline;
  height: 13rem;
  margin-top: 16px;
}

.act5,
.act6 {
  width: 85%;
  height: 10.3rem;
  border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
  box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.act5 {
  align-self: flex-start;
  margin-top: 18px;
  height: 13rem;
}

.text-area {
  margin: 10px;
  border-radius: 0rem 0rem 0.9rem 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.activities a {
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
  color: #000000;
}

.activities-title h1 {
  font-size: 18px;
  padding-left: 1.5rem;

}

/*  FOOTER  */

footer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: #f2f2f2;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

footer li:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
  width: 23.75rem;
  margin-top: 3rem;
}

footer li {
  font-size: 14px;
  margin-bottom: 1rem;
  cursor: pointer;
}

footer h4 {
  margin-bottom: 10px;
  cursor: pointer;
}

/* Medium devices (tablettes, between 501px and 768px) */
@media only screen and (min-width: 501px) and (max-width: 768px) {
  #container {
    flex-direction: column;
    padding: 0rem 0.8rem 0rem 0.8rem;
    align-items: center;
  }

  /* search */

  #marker {
    font-size: 1rem;
    display: flex;
    width: 4.125rem;
    height: 4.3rem;
    background-color: #f2f2f2;
    border-radius: 0.9rem 0rem 0rem 0.9rem;
    align-items: center;
    justify-content: space-around;
    float: left;
  }

  #searchicon {
    display: contents;
  }

  #searchicon i {
    display: inline-flex;
    color: #ffffff;
    width: 4.125rem;
    height: 4.3rem;
    font-weight: bold;
    background-color: #0065fc;
    border-radius: 1.2rem 1.2rem;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }

  .search-input {
    background-color: #ffffff;
    width: 26.2rem;
    height: 4.3rem;
    justify-content: space-around;
    border: 0.125rem #f2f2f2 solid;
    font-weight: 600;
    font-size: 25px;
    border-right: 0px;
  }

  .search-button {
    display: none;
  }

  .search-header h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
  }

  .search-header p {
    font-size: 25px;
    text-align: center;
  }

  /* filtres */

  .filter-title {
    width: 100%;
    justify-content: start;
    display: flex;
    align-items: center;
    align-content: flex-end;
    padding-right: 30px;
  }

  .filterbar {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0px 10px 0px;
    width: 100%;
    font-weight: 600;
    justify-content: center;
  }

  .filter-item {
    display: flex;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    border: solid #f2f2f2 2px;
    border-radius: 25px;
    margin-right: 20px;
    padding-right: 20px;
    border-left: 0;
    font-size: 22px;
    font-weight: 500;
  }

  .filter-icon {
    display: flex;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    padding: 17px;
    margin-right: 7px;
    font-size: 21px;
  }

  #info p {
    display: flex;
    margin-top: 4px;
    font-size: 24px;
    color: gray;
  }

  /* Grids */

  .grids {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hebergement {
    display: grid;
    width: 27rem;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 5rem;
    grid-gap: 15px;
    border-radius: 0.9rem;
    padding: 1.5rem 1.5em 0rem 1.5rem;
    background-color: white;
  }

  .populaires {
    display: grid;
    width: 45rem;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 1fr 1fr;
    background-color: #f2f2f2;
    border-radius: 0.9rem;
    align-items: center;
    justify-items: center;
    padding-bottom: 16px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-gap: 1.5rem;
  }

  .left-title {
    margin: 20px;
    font-size: 23px;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
  }

  .left-footer {
    margin: 20px;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
  }

  .right-title {
    display: flex;
    font-size: 23px;
    justify-self: start;
    margin: 3rem 0rem 1rem 2rem;
    justify-self: center;
  }

  .legendleft {
    font-size: 17px;
    padding-left: 12px;
  }

  .legendright {
    font-size: 22px;
  }

  .legendleft p {
    margin: 2px;
    color: gray;
    font-size: 18px;
  }

  .legendright p {
    font-size: 27px;
  }

  /* Boxes */

  .boxes {
    width: 37rem;
    height: 13.5rem;
    border: 0.2rem white solid;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
    cursor: pointer;
  }

  .fa-chart-line {
    font-size: 21px;
    margin-left: 10rem;
  }

  .boxes-right {
    width: 37rem;
    height: 13.5rem;
    align-items: center;
    border: 0.2rem #ffffff solid;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
    cursor: pointer;
  }

  /* activities */

  .activities-section {
    margin-top: 3rem;
  }

  .activities-container {
    height: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
    margin-top: 1rem;
    align-items: center;
    justify-items: center;
  }

  .activities-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .act1 {
    grid-row: 1;
    height: 14rem;
    width: 40rem;
  }

  .act2 {
    grid-row: 2;
    height: 14rem;
    width: 40rem;
  }

  .act3 {
    grid-column: 1;
    grid-row: 3;
    height: 14rem;
    width: 40rem;
  }

  .act4 {
    grid-row: 4;
    height: 14rem;
    width: 40rem;
  }

  .act5 {
    grid-row: 5;
    height: 14rem;
    width: 40rem;
  }

  .act6 {
    grid-row: 6;
    height: 14rem;
    width: 40rem;
  }

  .text-area {
    margin: 10px;
    border-radius: 0rem 0rem 0.9rem 0.9rem;
    display: flex;
    justify-content: center;
    font-size: 17px;
  }

  .activities-title h1 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 3rem;
  }

  #image10,
  #image13 {
    height: 11.4rem;
    width: 100%;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #image11,
  #image12 {
    height: 6rem;
    width: 100%;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #image11 {
    height: 11rem;
  }
  #image12 {
    height: 11.4rem;
  }

  #image14,
  #image15 {
    height: 11.4rem;
    width: 100%;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #image13 {
    height: 11.4rem;
  }
  #image14 {
    height: 10.5rem;
  }

  /* footer */

  footer {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  footer li:first-child {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 20px;
  }

  footer li {
    font-size: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

/* Small devices (phones, 500px and down) */

@media only screen and (max-width: 500px) {
  body {
    margin: 0px 5px 0px 5px;
    margin-bottom: 0px;
  }
  #container {
    margin: 0rem;
    padding: 0rem;
  }

  .desktop-header {
    display: none;
  }

  /* mobile header */

  .mobile-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1rem;
  }

  .logo {
    padding-left: 1.5rem;
  }

  .inscription {
    justify-self: end;
    align-self: center;
    padding-right: 2rem;
    font-size: 20px;
  }

  .mobnav {
    font-weight: 400;
    font-size: 21px;
    color: #000000;
    text-decoration: none;
    padding-top: 20px;
    text-align: center;
    border-bottom: 4px solid lightgray;
  }

  .left {
    border-bottom: 4px solid #0065fc;
  }

  /* search header */

  .search {
    margin-left: 1.5rem;
  }

  #marker {
    font-size: 1rem;
    display: flex;
    width: 4.125rem;
    height: 4.3rem;
    background-color: #f2f2f2;
    border-radius: 0.9rem 0rem 0rem 0.9rem;
    align-items: center;
    justify-content: space-around;
    float: left;
  }

  #searchicon {
    display: contents;
  }

  #searchicon i {
    display: inline-flex;
    color: #ffffff;
    width: 4.125rem;
    height: 4.3rem;
    font-weight: bold;
    background-color: #0065fc;
    border-radius: 1.2rem 1.2rem;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }

  .search-input {
    background-color: #ffffff;
    width: 65%;
    height: 4.3rem;
    justify-content: space-around;
    border: 0.125rem #f2f2f2 solid;
    font-weight: 600;
    font-size: 25px;
    border-right: 0px;
  }

  .search-button {
    display: none;
  }

  .search-header {
    margin: 1.5rem;
  }

  .search-header h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .search-header p {
    font-size: 18px;
  }

  /* filtres */

  .filterbar {
    display: inline-flex;
    flex-flow: row wrap;
    margin: 20px 0px 10px 15px;
    width: 100%;
    font-weight: 600;
  }

  .filter-title {
    width: 100%;
    justify-content: start;
    display: flex;
    align-items: center;
    align-content: flex-end;
    padding: 1rem;
  }

  .filter-item {
    margin: 5px;
  }

  .filter-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    border: solid #f2f2f2 2px;
    border-radius: 25px;
    margin-right: 20px;
    padding-right: 20px;
    border-left: 0;
    font-size: 18px;
    font-weight: 500;
  }

  .filter-icon {
    display: flex;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    padding: 11px;
    margin-right: 7px;
    font-size: 18px;
  }

  #info {
    display: flex;
    margin: 15px 0px 20px 15px;
    width: 100%;
  }

  #info p {
    display: flex;
    margin-top: 4px;
    font-size: 20px;
    color: gray;
  }

  /* Grids */

  .grids {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hebergement {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 5rem;
    grid-gap: 15px;
    border-radius: 0.9rem;
    padding: 1.5rem 1.5em 0rem 1.5rem;
    background-color: white;
  }

  .populaires {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 1fr 1fr;
    background-color: #f2f2f2;
    align-items: center;
    justify-items: center;
    padding-bottom: 4rem;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-gap: 1.5rem;
    border-radius: 0;
  }

  #image8 {
    width: 44%;
  }

  .left-title {
    margin: 0 0 10px 0;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .left-footer {
    margin: 20px 0 20px 0;
    font-size: 17px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .right-title {
    display: flex;
    font-size: 18px;
    justify-self: start;
    margin: 3rem 0rem 0rem 2rem;
  }

  .legendleft {
    font-size: 13px;
    padding-left: 12px;
  }

  .legendright {
    font-size: 13px;
  }

  /* Boxes */

  .boxes {
    width: 100%;
    height: 13rem;
    border: 0.2rem white solid;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
    cursor: pointer;
  }

  .fa-chart-line {
    font-size: 25px;
    margin-left: 8rem;
    margin-bottom: 2rem;
  }

  .boxes-right {
    width: 90%;
    height: 9rem;
    align-items: center;
    border: 0.2rem #ffffff solid;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0.2rem #e0e0e0;
    cursor: pointer;
  }

  /* activities */

  .activities-section {
    margin-top: 1rem;
  }

  .activities-container {
    height: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
    margin-top: 1rem;
    justify-items: center;
  }

  .activities-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .activities-title h1 {
    font-size: 25px;
    padding: 0 0 20px 23px;
  }

  .act-item3 {
    grid-row: 3;
  }

  .act1 {
    grid-row: 1;
    height: 10rem;
    width: 90%;
  }

  .act2 {
    grid-row: 2;
    height: 10rem;
    width: 90%;
  }

  .act3 {
    grid-column: 1;
    grid-row: 3;
    height: 10rem;
    width: 90%;
  }

  .act4 {
    grid-row: 4;
    height: 10rem;
    width: 90%;
  }

  .act5 {
    grid-row: 5;
    height: 10rem;
    width: 90%;
  }

  .act6 {
    grid-row: 6;
    height: 10rem;
    width: 90%;
  }

  #image10,
  #image11,
  #image12,
  #image13,
  #image14,
  #image15 {
    height: 7rem;
    width: 100%;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .text-area {
    font-size: 15px;
  }

  /* footer */

  footer {
    width: 100%;
  }

  footer li:first-child {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 20px;
  }

  footer li {
    font-size: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
